@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
    culoare #0fab18
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

html, body {
	height: 100%;
	min-height: 100%;
}

form {
	text-align: center;
}

body{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #27B987;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 0;
}

.wrapper {
	background-color: white;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

.login_box {
	font-family: 'Bellota-LightItalic', sans-serif;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 50%;
    transform: translateY(-50%);
    position: absolute;
	width: 35%;
    left: 55%;
	background-color: #ffffff;
	padding: 5px;
	opacity: 0.98;
}

.login_header {
	font-family: 'Bellota-LightItalic', sans-serif;
	width: 100%;
	height: 90px;
	background-color: #38d39f;
	color: #fff;
	text-align: center;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    left: 0%;
    top: 50%;
    position: absolute;
}

.img img{
	width: 500px;
}

.login_header h1 {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: whitesmoke;
	font-size: 250%;
}

input[type="submit"] {
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
    border-radius: 25px;
    border: none;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	color: white;
	font-family: 'Bellota-BoldItalic', sans-serif;
	font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
	border: 1px solid #38d39f;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
	border-color: #38d39f;
}

#second {
	display: none;
}


@media screen and (max-width: 1000px){

	.img img{
		width: 400px;
	}
    
    .login_box{
		justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
	}
}

@media screen and (max-width: 900px){
	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login_box{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 70%;
	}
    
    .login_header{
        width: 100%;
        height: 120px;
    }
}




